# Dependency directories
node_modules/

# Environment variables file
.env

# Log files
logs/
*.log

# Output of npm commands
npm-debug.log
npm-debug.log.*

# Optional: Visual Studio Code settings
.vscode/

# Optional: WebStorm settings
.idea/

# Optional: Sublime Text settings
.sublime-project
.sublime-workspace

# Optional: Editors
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Optional: macOS metadata
.DS_Store

# Optional: Windows thumbnail cache files
Thumbs.db
Desktop.ini